################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Spmco.Common/bin/Debug/net6.0
/Spmco.Common/obj/Debug/net6.0/ref/Spmco.Common.dll
/Spmco.Common/obj/Debug/net6.0
/Spmco.Common/obj/Release/net6.0
/SpmcoGateAutomation.Application/bin
/SpmcoGateAutomation.Common/bin
/SpmcoGateAutomation.Common/obj/Debug/net6.0
/SpmcoGateAutomation.Common/obj/Release/net6.0
/SpmcoGateAutomation.Consumer/obj
/SpmcoGateAutomation.Contract/bin
/SpmcoGateAutomation.Contract/obj/Debug/net6.0
/SpmcoGateAutomation.Contract/obj/Release/net6.0
/SpmcoGateAutomation.Domain/obj
/SpmcoGateAutomation.Domain/bin/Debug/net6.0
/SpmcoGateAutomation.Domain/bin/Release/net6.0
/SpmcoGateAutomation.Contract/obj
/SpmcoGateAutomation.Consumer/bin/Debug/net6.0
/Spmco.Common/obj
/SpmcoGateAutomation.Application/obj
/SpmcoGateAutomation.Common/obj
/SpmcoGateAutomation.ExternalServices/bin
/SpmcoGateAutomation.ExternalServices/obj/Debug/net6.0
/SpmcoGateAutomation.ExternalServices/obj/Release/net6.0
/SpmcoGateAutomation.Infrastructure.EFCore/bin
/SpmcoGateAutomation.Infrastructure.EFCore/obj/Debug/net6.0
/SpmcoGateAutomation.Infrastructure.EFCore/obj/Release/net6.0/ref/SpmcoGateAutomation.Infrastructure.EFCore.dll
/SpmcoGateAutomation.Infrastructure.EFCore/obj/Release/net6.0
/SpmcoGateAutomation.Producer/bin/Debug/net6.0
/SpmcoGateAutomation.Producer/obj/Debug/net6.0
/SpmcoGateAutomation.Producer/obj/Release/net6.0
/SpmcoGateAutomation.Web/bin
/SpmcoGateAutomation.Web/obj/Debug/net6.0/ref/SpmcoGateAutomation.Web.dll
/SpmcoGateAutomation.Web/obj/Debug
/SpmcoGateAutomation.Web/obj/Release/net6.0/PubTmp/Out/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/SpmcoGateAutomation.Web/obj/Release
/SpmcoGateAutomation.ExternalServices/obj
/SpmcoGateAutomation.Infrastructure.EFCore/obj
/SpmcoGateAutomation.Producer/obj
/SpmcoGateAutomation.Web/obj
