@{
    ViewData["Title"] = "Index Page";
}
@*<div class="bg-image " style="background-image:url('img/background-image.jpg'); height: 100vh;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 100vh;">

    </div>
    </div>*@

<section class="u-clearfix u-section-1" id="carousel_56ab">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-align-right u-container-style u-image u-image-default u-layout-cell u-shading u-size-30 u-image-1" data-image-width="2000" data-image-height="1125">
                    <div class="u-container-layout u-container-layout-1">
                        <h3 class="u-text u-text-body-alt-color u-text-default u-text-1">دروازه خروج</h3>
                        <p class="u-text u-text-body-alt-color u-text-2">برای مدیریت دروازه خروجی در این قسمت کلیک نمایید. </p>
                        <div class="u-rotation-parent u-rotation-parent-1">
                            <a href="home/GateOut" target="_blank">
                                <div class="u-rotate-90 u-shape u-shape-svg u-text-palette-2-light-2 u-shape-1" data-href="https://nicepage.com/website-design">
                                    <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 140" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c336"></use></svg>
                                    <svg class="u-svg-content" viewBox="0 0 160 140" x="0px" y="0px" id="svg-c336" style="enable-background:new 0 0 160 140;"><path d="M90,45H0v50h90v45l70-70L90,0V45z"></path></svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-right-cell u-shading u-size-30 u-image-2" data-image-width="2000" data-image-height="1125">
                    <div class="u-container-layout u-container-layout-2">
                        <h3 class="u-text u-text-body-alt-color u-text-default u-text-3" data-animation-name="" data-animation-duration="0" data-animation-direction="">دروازه ورود</h3>
                        <p class="u-text u-text-body-alt-color u-text-4">برای مدیریت دروازه ورودی در این قسمت کلیک نمایید. </p>
                        <div class="u-rotation-parent u-rotation-parent-2">
                            <a href="home/GateIn" target="_blank">
                                <div class="u-rotate-270 u-shape u-shape-svg u-text-palette-4-base u-shape-2" data-href="https://nicepage.com/c/sale-html-templates">
                                    <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 140" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-688b"></use></svg>
                                    <svg class="u-svg-content" viewBox="0 0 160 140" x="0px" y="0px" id="svg-688b" style="enable-background:new 0 0 160 140;"><path d="M90,45H0v50h90v45l70-70L90,0V45z"></path></svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section links
{
    <link rel="stylesheet" href="css/home.css" />
}

